@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hip Hop Chess</h1>
    <p class="lead">A series of Chess Learning services provide by Jerald Times</p>
</div>

<div class="row">
    <div>
        <h2>Getting started</h2>
        <p>
            Other content/images may be here.
            </p>
        Hi J - Click <a href="https://coolors.co/" target="_blank">here</a> for a site that creates random color pallettes. See if you can create some that you like.
        
    </div>
</div>